@font-face {
  font-family: Ithra;
  src: url(../Fonts/ArbFONTS-Ithra-Light.ttf);
}

body,
html {
  overflow-x: hidden !important;
}

* {
  direction: rtl;
  text-align: right;
  font-family: Ithra;
}

.logo {
  height: 70px;
  width: 150px;
}

header {
  background-image: url("../img/bg-header.png");
  background-repeat: no-repeat;
  background-position: top left;
}

.navbar .nav-item .nav-link {
  color: #373536 !important;
  font-size: 16px;
}

.navbar .nav-item .active-link {
  color: #31B4D3 !important;
  position: relative;
}

.navbar .nav-item .active-link:after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 30%;
  height: 2px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #31B4D3;
  right: 35% !important;
}

.navbar .nav-item .active-link:before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 5px;
  height: 2px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
  left: 38% !important;
  z-index: 1;
}

.navbar input {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 200px;
  padding-right: 22px;
  color: #9E9E9E;
  border: 1px solid #C2C2C2;
}

.navbar input::-webkit-input-placeholder {
  color: #9E9E9E;
  font-size: 14px;
}

.navbar input:-ms-input-placeholder {
  color: #9E9E9E;
  font-size: 14px;
}

.navbar input::-ms-input-placeholder {
  color: #9E9E9E;
  font-size: 14px;
}

.navbar input::placeholder {
  color: #9E9E9E;
  font-size: 14px;
}

.inp-search i {
  position: absolute;
  right: 5px;
  top: 7px;
  color: #9E9E9E;
  font-size: 14px;
}

* {
  outline: none !important;
}

.one-color {
  color: #373536 !important;
}

.color-2 {
  color: #31B4D3;
  font-weight: 400;
  font-size: 45px;
}

.color-3 {
  color: #9E9E9E;
}

.f-10 {
  font-size: 10px !important;
}

.f-11 {
  font-size: 11px !important;
}

.f-12 {
  font-size: 12px !important;
}

.f-13 {
  font-size: 13px !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-15 {
  font-size: 15px !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-17 {
  font-size: 17px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-19 {
  font-size: 19px !important;
}

.f-20 {
  font-size: 20px !important;
}

.f-21 {
  font-size: 21px !important;
}

.f-22 {
  font-size: 22px !important;
}

.f-23 {
  font-size: 23px !important;
}

.f-24 {
  font-size: 24px !important;
}

.head-pos::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -20px;
  width: 70px;
  height: 2px;
  background-color: #9E9E9E;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.btn-custom {
  background-color: #31B4D3;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #fff;
  font-size: 18px;
  -webkit-box-shadow: 0px 10px 40px rgba(15, 160, 197, 0.4);
          box-shadow: 0px 10px 40px rgba(15, 160, 197, 0.4);
}

.custom-back {
  background-color: #31B4D3;
  height: 100%;
}

.back-custom::after {
  background-color: #D5F0F6;
  content: "";
  position: absolute;
  left: 0;
  width: 50%;
  z-index: -1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  min-height: 100%;
}

.contact .back-custom::after {
  background-color: #D5F0F6;
  content: "";
  position: absolute;
  left: 0;
  width: 50%;
  z-index: -1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.back-custom2::after {
  background-color: #D5F0F6;
  content: "";
  position: absolute;
  right: 0;
  width: 50%;
  z-index: -1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  min-height: 100%;
}

.main-shadow {
  -webkit-box-shadow: 0px 0px 10px #CCCCCC;
          box-shadow: 0px 0px 10px #CCCCCC;
}

.img-two {
  position: absolute !important;
  top: -50px;
  z-index: 0;
  right: 50px;
}

.img-one {
  position: absolute !important;
  bottom: 0;
  z-index: 0;
}

.pos {
  right: 200px !important;
}

.radius-4 {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.radius-5 {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.radius-6 {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.radius-7 {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.radius-8 {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.radius-9 {
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.radius-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.radius-11 {
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}

.radius-12 {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.radius-13 {
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}

.radius-14 {
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.radius-15 {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.radius-16 {
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.radius-17 {
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
}

.radius-18 {
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

.radius-19 {
  border-radius: 19px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  -ms-border-radius: 19px;
  -o-border-radius: 19px;
}

.card-shadow {
  -webkit-box-shadow: 0px 10px 40px #CCCCCC;
          box-shadow: 0px 10px 40px #CCCCCC;
}

.p-color {
  color: #9E9E9E;
  font-size: 16px;
}

.head-title {
  color: #373536;
  font-size: 17px;
}

.color-tit {
  color: #31B4D3;
  font-size: 20px;
}

.p-col {
  color: #AAAAAA !important;
  font-size: 15px;
}

.h-col {
  color: #373536;
  font-size: 40px;
}

.pxAll-5 {
  padding-right: 45px;
  padding-left: 50px;
}

@media (min-width: 100px) and (max-width: 767px) {
  .ms-5 {
    margin-top: 25px !important;
  }
  .img-one {
    display: none;
  }
  .back-custom::after {
    width: 60%;
  }
  .back-custom2::after {
    width: 60%;
  }
  .back-custom-4::after {
    background-color: #D5F0F6;
    content: "";
    position: absolute;
    left: 0;
    width: 50% !important;
    z-index: -1;
    top: 30%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 100%;
  }
}

.bg-5 {
  background-image: url(../img/Graph.png);
  background-repeat: no-repeat;
  height: 300px;
}

.bg-base, .trans, .bg, .bg::after {
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}

.trans {
  background-color: rgba(15, 160, 197, 0.4);
  height: 250px;
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 !important;
}

.bg {
  padding: 0 !important;
  background-image: url(../img/meeting-image.jpg);
  height: 250px;
  width: 250px;
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg::after {
  background-color: #EAF7FB;
  height: 250px;
  width: 250px;
  content: "";
  position: absolute;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  z-index: -1;
}

.min-h {
  min-height: 500px;
}

.back-custom-4::after {
  background-color: #D5F0F6;
  content: "";
  position: absolute;
  left: 0;
  width: 25%;
  z-index: -1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  min-height: 100%;
}

.count {
  color: #31B4D3;
  font-size: 20px;
  font-weight: 800;
}

.count-text {
  color: #373536;
  font-size: 18px;
}

.bg-testimonial {
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right start;
  width: 100%;
  height: 100%;
}

.trans1 {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: rgba(15, 160, 197, 0.4);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.img-map {
  width: 70px;
  height: 70px;
}

@media (min-width: 100px) and (max-width: 769px) {
  .bg-testimonial .col-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 94.666667%;
            flex: 0 0 94.666667%;
    max-width: 97%;
  }
  .img-map {
    width: 60px;
    height: 60px;
  }
  .trans1 {
    width: 60px;
    height: 60px;
  }
  .back-custom-4::after {
    background-color: #D5F0F6;
    content: "";
    position: absolute;
    left: 0;
    width: 25%;
    z-index: -1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 74%;
  }
  .bg-testimonial {
    margin-top: 20px;
  }
  .Contact-us {
    margin-top: 70px;
  }
  .Contact-us.back-custom::after {
    min-height: 200px !important;
  }
  .back-custom2::after {
    min-height: 400px !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .img-map {
    width: 60px;
    height: 60px;
  }
  .trans1 {
    width: 60px;
    height: 60px;
  }
}

.pos-5 {
  right: 40%;
}

.pos-3 {
  left: 20%;
  bottom: -50px;
}

.Contact input {
  border: none;
  border-bottom: 1px solid #C2C2C2;
}

.Contact label {
  color: #9E9E9E;
  margin-bottom: -10px;
}

.bg-sec {
  background-color: #31B4D3;
}

.z-0 {
  z-index: 0 !important;
}

.Plant {
  height: 100px;
  width: 60px;
  bottom: 0;
  left: 45%;
}

.doted {
  left: 0%;
  top: 10%;
}

.Rectangle1 {
  left: 10%;
  bottom: 5%;
}

.Rectangle1 {
  left: 10%;
  top: 5%;
}

.Rectangle1 {
  left: 50%;
  top: 10%;
}

.Rectangle4 {
  right: 5%;
  top: 5%;
}

.Path1 {
  right: 5%;
  top: 5%;
}

.Path2 {
  right: 5%;
  top: 5%;
}

.Path4 {
  right: 95%;
  bottom: 5%;
}

.Path3 {
  right: 75%;
  top: 5%;
}

.Path5 {
  right: 50%;
  top: 15%;
}

.mob {
  background-color: rgba(255, 255, 255, 0.4);
  width: 40px;
  height: 40px;
}

.mob img {
  height: 30px;
}

.colo {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

.play {
  font-weight: 700;
  font-size: 16px;
  color: #31B4D3;
  text-align: left !important;
}

.Download {
  font-size: 12px;
}

* {
  text-decoration: none !important;
}

footer .logo {
  height: 70px;
  width: 150px;
}

footer ul {
  vertical-align: center;
}

footer ul li {
  display: inline-block;
  padding-left: 10px;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0rem;
}

.fix-ul {
  margin-left: -100px;
}

.fix-ul a {
  color: #000 !important;
}

.fix-ul .active {
  color: #31B4D3 !important;
}

.social {
  width: 40px !important;
  height: 40px !important;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

.social img {
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

.bg-face {
  background-color: #5E91FE;
}

.bg-face a {
  color: #fff !important;
}

.twitter {
  color: #3DA4DD !important;
}

.linked-in {
  color: #2374B6 !important;
}

.text {
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#7E5288), to(#DE3C0F));
  background: linear-gradient(to right, #7E5288 0%, #DE3C0F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999999999999999999 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.no-js .splash-screen {
  display: none;
}

.loaded .splash-screen {
  visibility: hidden;
  -webkit-transition: all 0.3s 0.6s ease-out;
  transition: all 0.3s 0.6s ease-out;
}

.loader {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 99999999999999999999999 !important;
}

.loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

.loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

.loaded .loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.viewMore {
  color: #fff !important;
}

.fa-apple {
  color: #31B4D3 !important;
  font-size: 30px;
}

.fa-google-play {
  color: #31B4D3 !important;
  font-size: 30px;
}

@media (min-width: 767px) and (max-width: 768px) {
  .fix-ul {
    margin-left: -70px;
  }
  .apps .col-6 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
    margin-top: 5px;
  }
  .navbar .nav-item .active-link:after {
    width: 6%;
    right: 1% !important;
  }
  .navbar .nav-item .active-link:before {
    left: 94% !important;
    z-index: 1;
  }
}

@media (min-width: 100px) and (max-width: 767px) {
  .fix-ul {
    margin-left: 0px;
  }
  .apps {
    margin-top: 15px !important;
  }
  .pfix-3 {
    padding-right: 13px !important;
  }
  .navbar .nav-item .active-link:after {
    width: 10%;
    right: 5% !important;
  }
  .navbar .nav-item .active-link:before {
    left: 87% !important;
    z-index: 1;
  }
  .fa-apple {
    font-size: 25px !important;
  }
  .fa-google-play {
    font-size: 25px !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .fix-ul {
    margin-left: -70px;
  }
  .apps .play {
    font-weight: 500 !important;
    font-size: 12px !important;
  }
  .apps .Download {
    font-size: 8px !important;
  }
  .fa-apple {
    font-size: 25px !important;
  }
  .fa-google-play {
    font-size: 25px !important;
  }
}
/*# sourceMappingURL=main.css.map */